$headerBgColor: transparent;
$headerTextColor: #87C5EA;
$backgroundColor: #000f24;
$lightBackgroundColor: #ffffff;
$mainTextColor: #fffff2;
$textColor: #499EC1;
$footerColor: #87C5EA;
$footerTextColor: #ffffff;
$heroTextH1Color: #ffffff;
