//header color scheme 
$headerBgColor: transparent;
$headerTextColor: #87C5EA;
$headerButtonColor: #C5EA87;

//background color scheme
$lightBackgroundColor: #ffffff;
$darkTextColor: #fffff2;
$lighttextColor: #499EC1;
$darkBackgroundColor: #000f24;

//footer color scheme
$footerBgColor: #87C5EA;
$footerTextColor: #ffffff;
$heroTextH1Color: #ffffff;
