$headerBgColor: #ffffff;
$headerTextColor: #499EC1;
$backgroundColor: #000f24;
$mainTextColor: #fffff2;
$textColor: #499EC1;
$footerColor: #79C941;
$footerTextColor: #ffffff;
$heroTextH1Color: #ffffff;
