@use "color" as c;
@use "typography" as t;


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: c.$backgroundColor;
  color: c.$mainTextColor;
  font-family: t.$fontFamily;
  font-weight: map-get(t.$fontWeight, modNormal);
}
