$fontFamily: "Roboto Condensed", sans-serif;
$fontWeight: (
  veryThin: 100,
  thin: 200,
  modNormal: 300,
  normal: 400,
  boldNormal: 500,
  bold: 600,
  lowBold: 700,
  thickBold: 800,
  veryThickBold: 900,
);
