@use "sass:map";
@use 'base/index' as i;

.aboutus {
  padding: 1.2em;

  .heroHeader {
    color: i.$heroTextH1Color;
    font-size: 60px;
    text-wrap: balance;
    background: -webkit-linear-gradient(#eee, #87C5EA);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  #heroParagraph1 {
    font-weight: map-get(i.$fontWeight, boldNormal);
    margin-top: .7em;
    font-size: 25px;
    color: i.$darkTextColor;
    text-transform: uppercase;
  }

  #heroParagraph3 {
    margin-top: .7em;
    color: i.$heroTextH1Color;
    text-wrap: pretty;
    font-size: 20px;
  }


  .projectButton {
    margin-top: .7em;
    display: flex;
    border: 1.5px solid i.$darkTextColor;
    padding: .5em;
    text-align: center;
    align-items: center;
    width: 55%;
    font-size: 25px;
  }

  .trusted {
    text-align: center;
    padding-top: 1.4em;
  }
}
