@use "../base/mediwqueries" as m;
@use "../base/color" as c;
@use "../base/typography" as t;


nav {
  display: flex;
  padding: 1em;
  position: relative;
  margin: auto;
  background-color: c.$headerBgColor;
  align-items: center;
  justify-content: space-between;
  z-index: 1;

  .brandLogo img {
    max-width: 100%;
    height: 30px;
    Object-fit: cover;
  }

  /**styling the navigation lists**/
  .primary_navigation {
    list-style: none;
    display: flex;
    color: c.$headerTextColor;

    li {
      margin: 1.2em;
      color: c.$headerTextColor;


      a {
        text-decoration: none;
        padding-top: .5em;
        padding-bottom: .5em;
        padding-left: 4em;
        padding-right: 4em;
      }

      a:hover {
        color: c.$footerTextColor;
        background-color: c.$headerTextColor;
      }

      a:visited {
        color: c.$footerTextColor;

      }

    }

    @include m.mediaqueries(smallphones) {
      display: none;
      position: absolute;
      top: 0;
      background-color: rgba(c.$footerColor, .5);
      backdrop-filter: blur(0.5rem);
      right: 0;
      width: 70%;
      height: 100vh;
      font-family: t.$fontFamily;
      font-weight: map-get(t.$fontWeight, lowBold);
      align-items: center;
      padding-top: 5em;
    }

  }

  .hamburger {
    font-variation-settings:
      'FILL' 1,
      'wght' 600,
      'GRAD' 0,
      'opsz' 24;
    color: c.$headerTextColor;
    cursor: pointer;


    @include m.mediaqueries(laptops) {
      display: none;
    }

  }

  .closeMenu {
    color: c.$headerTextColor;
    cursor: pointer;
    display: none;
    position: absolute;
    top: 15px;
    right: 15px;
  }

}
