@use "../base/mediwqueries" as m;
@use "../base/color" as c;


nav {
  display: flex;
  padding: 1em;
  background-color: rgba(mix(c.$headerBgColor, #ffffff, 85%), .8);
  align-items: center;
  justify-content: space-between;
  z-index: 2;

  .brandLogo {
    //margin: 0.5em;
    // max-width: 5px;
    height: 100%;
    Object-fit: cover;
  }

  ul {
    list-style: none;
    display: flex;
    padding: 0.6em;


    li {
      margin: 0.5em;

      a {
        text-decoration: none;
      }
    }

    @include m.mediaqueries(smallphones) {
      display: none;
    }

    @include m.mediaqueries(laptops) {
      display: flex;
    }
  }
}
