@use "../base/mediwqueries" as m;
@use "../base/color" as c;


nav {
  display: flex;
  padding: 1em;
  margin: auto;
  background-color: c.$headerTextColor;
  align-items: center;
  justify-content: space-between;
  z-index: 1;

  .brandLogo {
    //margin: 0.5em;
    width: 100%;
    max-width: 5px;
    height: auto;
    Object-fit: cover;
  }

  .primary_navigation {
    list-style: none;
    display: flex;
    padding: 0.6em;


    li {
      margin-inline-end: 0.75em;
      ;

      a {
        text-decoration: none;
      }
    }

    @include m.mediaqueries(smallphones) {
      display: none;
    }

    @include m.mediaqueries(laptops) {
      display: flex;
      font-size: 1.3em;
    }
  }

  .hamburger {
    font-variation-settings:
      'FILL' 1,
      'wght' 600,
      'GRAD' 0,
      'opsz' 24;


    @include m.mediaqueries(laptops) {
      display: none;
    }
  }
}
